
body {
  background: url('../images/HomeBackground.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#Header {
color: whitesmoke
    
}

.Lab {
color: ghostwhite
    
}

.Labdark {
color: dimgray
    
}



#Paragraph {
color: ghostwhite
    
}

.fahdfontcolor {
color: #F5F5F5;    
    
    
}