
body {
  background: url('../images/HomeBackground.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#Header {
color: whitesmoke
    
}

#Paragraph {
color: ghostwhite
    
}


#Lab {
color: ghostwhite
    
}
